* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    align-items: center;
    background-color: orange;
    padding: 0 20px;
}

header input {
    height: 20px;
    justify-self: end;
}

.mosaico {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:20px;
    gap: 20px;
}

.media {
    border: green solid 1px;
}

.media video {
    width: 100%;
}

.media p {
    margin: 15px 0;
}

footer {
    display: flex;
    background-color: rgb(53, 41, 48);
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    border-bottom: solid orange 2px;
}

footer p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
}